.main {
  display: flex;
  flex-direction: column;
  color: #373867;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  width: 100%;
}

.introSection {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
}

.introSection div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.introSection figure {
  margin-bottom: 3.5%;
}

.introSection figure img {
  width: 100%;
  max-width: 495px;
  border-radius: 10px;
}

.main .sectionLine {
  background-color: transparent;
  margin-bottom: 0px;
}

.headerTypo {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  margin-bottom: 25px;
}

.functionalities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formSection input,
.formSection label {
  white-space: nowrap;
}

.formSection .submit_btn,
.formSection .cancel_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.textarea {
  width: 100%;
}

h2.sectionTypo {
  width: fit-content;
  max-width: 94.2%;
  margin-bottom: 5%;
  font-size: 30px;
  line-height: 35px;
}

h2.sectionTypo::after {
  display: block;
  width: calc(100% + 30px);
  height: 3px;
  margin-top: 15px;
  background-color: rgba(170, 206, 155, 1);
  border-radius: 4px;
  content: '';
}

.functionalities section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.functionalities h3 {
  margin: 4% 0 2%;
}

.functionalities figure {
  display: flex;
  order: -1;
}

.functionalities figure img {
  width: 103px;
}

.reasonsType {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.reasonsType article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 350px;
  background-color: rgba(55, 56, 103, 0.1);
  gap: 15px;
}

.reasonsType img {
  width: 100%;
}

.reasonsType .buttonTypo {
  margin-top: auto;
}

.formSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
}

.formSection div {
  width: 100%;
  margin-bottom: 2%;
}

.formSection form > div {
  display: flex;
  flex-direction: column;
}

.formSection input,
.formSection select,
.formSection textarea {
  border: 1px solid #373867;
  border-radius: 4px;
  color: #373867;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.formSection textarea {
  padding: 10px 12px;
  margin-top: 2%;
  width: 100%;
}

.formSection div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.formSection .textarea {
  width: 100%;
}

.formSection .checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.formSection p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}

.formSection .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formSection .formPriorities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
}

.formSection .robot_check {
  display: flex;
  flex-direction: row;
}

.formSection input[type='radio'],
.formSection input[type='checkbox'] {
  margin-top: 0;
  width: 9%;
  border: 0px;
}

.formSection .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.titleTypo {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.paragraphTypo {
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #373867;
}

.introParagraph {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #373867;
  margin-top: 30px;
}

.linkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  padding-left: 15px;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 95px;
}

.linkSection p {
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  color: #373867;
}

.linkSection a {
  text-decoration: none;
  color: #373867;
}

.linkSection ol {
  list-style-type: decimal;
  margin-top: 8%;
  line-height: 23px;
}

.linkSection div {
  margin: 15px 0;
}

.cancel_btn {
  background-color: red !important;
}

@media only screen and (min-width: 480px) {
  .functionalities section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 265px;
    text-align: left;
  }

  .linkSection {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .functionalities h3 {
    width: 50%;
  }

  .functionalities p {
    width: 54%;
  }

  .functionalities section {
    margin-top: 0;
  }

  .functionalities figure img {
    width: 198px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .formSection div,
  .formSection fieldset {
    width: 48%;
    justify-content: center;
  }

  .greenLine {
    width: 100%;
    border-top: 8px solid #aace9b;
    border-radius: 5px;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .footerText {
    display: flex;
    flex-direction: column;
    float: right;
    padding-top: 0.5%;
    width: 70%;
  }
  .footerText p {
    float: right;
  }
  .p1 {
    padding: 0% 0% 0% 42.5%;
  }
  .p2 {
    padding: 0% 0% 0% 9%;
  }
  .rowLinks {
    background-color: #ffff;
    padding-top: 1%;
    width: 40%;
  }
  .rowLinks a {
    padding: 3%;
  }
}

@media only screen and (min-width: 768px) {
  .reasonsType article {
    max-width: 440px;
  }

  .linksSection {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    margin-right: 80px;
  }

  .introSection {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 72px;
    margin-bottom: 150px;
  }

  .introSection div {
    width: 50%;
    max-width: 520px;
    margin-right: 5%;
  }

  .introSection figure {
    width: 50%;
    max-width: 520px;
    margin-bottom: 0;
  }

  .introSection figure img {
    max-width: 520px;
  }

  .introSection .buttonContainer {
    align-self: flex-end;
    width: auto;
  }

  section div.learMore {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .functionalities {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .functionalities section {
    height: 250px;
    max-width: 523px;
  }

  .functionalities p,
  .functionalities h3 {
    width: calc(100% - 208px);
  }

  .longTitle h2.sectionTypo::after {
    width: calc(100% + 30px);
  }

  .reasonsType {
    justify-content: space-between;
    margin-bottom: 10%;
  }
}
