.container {
  width: 260px;
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #373867;
}

.textContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 7px;
  padding: 6px 12px;
  border: 1px solid #373867;
  border-radius: 4px;
  color: #373867;
}

.text {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #373867;
}