.btn {
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #aace9b;
  background-color: #aace9b;
  color: #373867;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 6px 6px rgba(33, 33, 33, .3);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.delete {
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #ff3e1d;
  background-color: #ff3e1d;
  color: #1c1c35;
  font-size: 16px;
  font-weight: 500;
}

.delete:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}