.container {
  width: 260px;
  margin-bottom: 15px;
}

.container.containerWidth {
  width: auto;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #373867;
}

.labelError {
  color: #ff0000;
}

.input {
  width: 100%;
  height: 35px;
  margin-top: 7px;
  padding: 0 12px;
  border: 1px solid #373867;
  border-radius: 4px;
  color: #373867;
  font-size: 12px;

}

.inputError {
  border: 2px solid #ff0000;
}

.input:focus {
  outline: none;
}

.errorMessage {
  color: #ff0000;
  margin: 3px 0 0 0;
  font-size: 13px;
  height: 14px;
}