@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #690000;
  overflow: auto;
  box-shadow: 0 0 30px #690000;
  background-color: #690000;
}

.userData{
  font-size: 12px!important;
}

.Asignado{
  background-color: #5043ff;
  color: aliceblue;
}

.Finalizado{
  background-color: rgb(29, 255, 59);
  color: rgb(0, 0, 0);
}

.Facturado{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}


.text-info{
   color: white!important;
   font-size: 15px;
}


.thAuditory{
  background-color: #690000!important;
  
}

.imgLogo{
  margin-top: -20px;
  margin-right: 150px;
  margin-left: -40px;
}

.ant-menu-submenu .ant-menu-submenu-horizontal {
 background-color: black;
}

.menu__logo {
  width: 150px;
  float: left;
  font-family: fantasy;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  color: white;

}

.bar {
  display: inline-flex;
  font-size: 40px;
  padding: 10px 01px;
  color: white;

}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
  font-family: fantasy;
  font-size: 20px;
  color: white;
  border-bottom: none;
  background-color: #690000;
}

.menu__container .ant-menu-horizontal {
  font-family: fantasy;
  font-size: 18px;
  color: white;
  border-bottom: none;
  background-color: #690000;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}
.imgAvatar{
  width: 40px;
  height: 40px;
}
.titleNav{
    width: 170px;
}
.loginName{
  height: 40px;
  margin-bottom: 10px;
}