.flatSearch {
  max-height: 40px;
  max-width: 242;
  align-items: center;
  background: #fff;
  border: 1px solid #373867;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 9px 5px;
  color: #373867;
  transition: all 0.5s ease 0s;
}

.flatSearch button,
.flatSearch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-left: 9px;
  margin: 12px 0px;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}

.flatSearch span {
  padding-right: 3px;
}

.flatSearch button {
  font-weight: 700;
}

.flatSearch button:hover {
  background-color: inherit;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}